/data/raw/*
!/data/raw/.gitkeep
!/data/raw/field-control-lightcurve.json
!/data/raw/health.json
!/data/raw/tcrb-field-querycat.json
!/data/raw/tcrb-lightcurve.json
!/data/raw/tcrb-querycat.json
/out/*
!/out/.gitkeep
__pycache__/
*.pyc
